@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Collabed.JobPortal.Localization
@using Volo.Abp.Users
@model Collabed.JobPortal.Web.Pages.Job.JobModel

@inject IHtmlLocalizer<JobPortalResource> L
@inject ICurrentUser CurrentUser
@section styles {
<abp-style src="/Pages/Job/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Job/job-description.js"></abp-script>
}
@{
    var categories ="";
    foreach (var item in Model.Category)
    {
        categories = $"{categories}Category={item}&";
    }
    var forwardParams = $"{categories}{nameof(Model.Predicate)}={Model.Predicate}&{nameof(Model.Location)}={Model.Location}&{nameof(Model.SelectedRadius)}={Model.SelectedRadius}&{nameof(Model.Sorting)}={Model.Sorting}&{nameof(Model.CurrentPage)}={Model.CurrentPage}";
    var previousPage = $"JobDashboard/Search?{forwardParams}";
}

<form method="post" id="previewForm" asp-page="/" novalidate="novalidate">

    <div class="row" style="margin-top:4%;padding-inline: 0.5%;">
        <div class="col-sm">
            <p class="hint-14"><a href=@previousPage class="back-link"><i class="bi bi-arrow-left back-arrow"></i>Back to results</a></p>
        </div>
        <div class="card" style="padding: 0 !important;">
            <div class="card-header" style="background-color:#F2F4F7; border-bottom: 1px solid rgba(0, 0, 0, 0.175);">
                <div class="row" style="margin-bottom:8px;">
                    <div class="col-9">
                        <span class="badge rounded-pill bg-primary">New</span>
                    </div>
                    <div class="col-3" style="position: relative;">
                        @*<span style="position:absolute; right:0; margin-right:4px;">
                        <button class="btn btn-outline-primary" onclick="saveButtonOnClick(event)" style="margin-right:4px;">Save for later</button>
                        <button class="btn btn-outline-primary" onclick="shareButtonOnClick(event)" style="margin-left:4px;">Share listing</button>
                        </span>*@
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <p class="text-36">@Model.Job.Title</p>
                        <p>
                            <span style="color: #101828; font-size: 16px; font-weight: 400; line-height: 24px;">
                                Posted by @Model.Job.OrganisationName
                            </span>
                            <span style="color: #667085; font-weight: 400; font-size: 16px; line-height:24px;">
                                on @Model.Job.PublishedDate.ToString("dd/MM/yyyy")
                            </span>
                        </p>
                        <br />
                        <p class="text-16-bold">
                            @if (!string.IsNullOrWhiteSpace(Model.Job.EmploymentType))
                            {
                                @Model.Job.EmploymentType
                                @if (!string.IsNullOrWhiteSpace(Model.Job.ContractType) || !string.IsNullOrWhiteSpace(Model.GetSalaryRange()) ||
                               !string.IsNullOrWhiteSpace(Model.Job.OfficeLocation) || !string.IsNullOrWhiteSpace(Model.Job.JobLocation))
                                {
                                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                                }
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Job.ContractType))
                            {
                                @Model.Job.ContractType
                                @if (!string.IsNullOrWhiteSpace(Model.GetSalaryRange()) ||
                               !string.IsNullOrWhiteSpace(Model.Job.OfficeLocation) || !string.IsNullOrWhiteSpace(Model.Job.JobLocation))
                                {
                                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                                }
                            }
                            @if (!string.IsNullOrEmpty(Model.GetSalaryRange()))
                            {
                                @Model.GetSalaryRange()
                                @if (!string.IsNullOrWhiteSpace(Model.Job.OfficeLocation) || !string.IsNullOrWhiteSpace(Model.Job.JobLocation))
                                {
                                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                                }
                            }
                            @if (!string.IsNullOrEmpty(Model.Job.OfficeLocation))
                            {
                                @Model.Job.OfficeLocation
                                @if (!string.IsNullOrWhiteSpace(Model.Job.JobLocation))
                                {
                                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                                }
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Job.JobLocation))
                            {
                                @Model.Job.JobLocation
                            }
                        </p>
                        <p>
                            @if (string.IsNullOrEmpty(Model.Job.ApplicationUrl) || Model.Job.JobOrigin == Collabed.JobPortal.Types.JobOrigin.Broadbean)
                            {
                                <a class="btn btn-primary full-width-on-mobile" href="#" onclick="applyForInternal('@Model.Job.Reference')">Apply now</a>
                            }
                            else
                            {
                                <a class="btn btn-primary full-width-on-mobile" href="#" onclick="onExternalApply('@Model.Job.OrganisationName', '@Model.Job.Title', '@Model.Job.ApplicationUrl'); return false;" target="_blank">Apply now</a>
                            }
                        </p>
                    </div>
                    @*                    <div class="col-2">
                    <img src="https://picsum.photos/200/205/" class="job-ad-avatar" width="200" height="205" />
                    </div>*@
                    <div class="row">
                        <hr />
                        <div class="col-9">
                            <p style="font-weight: 500; font-size: 28px; line-height: 120%; color: #101828;">About the job</p>
                            <p style="font-weight: 500; font-size: 20px; line-height: 80%; color: #101828;">Description</p>
                            <p>@Html.Raw(Model.Job.Description)</p>
                            @if (!string.IsNullOrWhiteSpace(Model.Job.Skills))
                            {
                                <hr />
                                <p style="font-weight: 500; font-size: 20px; line-height: 80%; color: #101828;">Skills</p>
                                <p style="font-weight: 400; font-size: 16px; line-height: 24px; color: #344054;">@Model.Job.Skills</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Job.SupplementalPay))
                            {
                                <hr />
                                <p style="font-weight: 500; font-size: 20px; line-height: 80%; color: #101828;">Supplemental Pay</p>
                                <p style="font-weight: 400; font-size: 16px; line-height: 24px; color: #344054;"> @Model.Job.SupplementalPay</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Job.SalaryBenefits))
                            {
                                <hr />
                                <p style="font-weight: 500; font-size: 20px; line-height: 80%; color: #101828;">Other Benefits</p>
                                <p style="font-weight: 400; font-size: 16px; line-height: 24px; color: #344054;">@Model.Job.SalaryBenefits</p>
                            }
                            @if (string.IsNullOrEmpty(Model.Job.ApplicationUrl) || Model.Job.JobOrigin == Collabed.JobPortal.Types.JobOrigin.Broadbean)
                            {
                                <a class="btn btn-primary full-width-on-mobile" href="#" onclick="applyForInternal('@Model.Job.Reference')">Apply now</a>
                            }
                            else
                            {
                                <a class="btn btn-primary full-width-on-mobile" href="#" onclick="onExternalApply('@Model.Job.OrganisationName', '@Model.Job.Title', '@Model.Job.ApplicationUrl'); return false;" target="_blank">Apply now</a>
                            }
                        </div>
                        <div class="col-3 no-display-on-mobile" style="background-color: #F2F4F7; ">
                            <div style="margin-inline: 24px;margin-block:24px;">
                                <p style="font-weight: 500;font-size: 28px;line-height: 120%;color: #101828;">Overview</p>
                                <hr />
                                @if (!string.IsNullOrWhiteSpace(Model.Job.EmploymentType))
                                {
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="bi bi-clock" style="color:#0C3779;"></i>
                                        </div>
                                        <div class="col-10">
                                            <span style="font-weight: 500;font-size: 20px;line-height: 80%;color: #101828;">Employment Type</span>
                                            <p style="font-weight: 400;font-size: 16px;line-height: 24px;color: #101828;">@Model.Job.EmploymentType</p>
                                        </div>
                                    </div>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.Job.ContractType))
                                {
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="bi bi-briefcase" style="color:#0C3779;"></i>
                                        </div>
                                        <div class="col-10">
                                            <span style="font-weight: 500;font-size: 20px;line-height: 80%;color: #101828;">Contract Type</span>
                                            <p style="font-weight: 400;font-size: 16px;line-height: 24px;color: #101828;">@Model.Job.ContractType</p>
                                        </div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(Model.Job.ExperienceLevel))
                                {
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="bi bi-file-bar-graph" style="color:#0C3779;"></i>
                                        </div>
                                        <div class="col-10">
                                            <span style="font-weight: 500;font-size: 20px;line-height: 80%;color: #101828;">Experience level</span>
                                            <p style="font-weight: 400;font-size: 16px;line-height: 24px;color: #101828;">@Model.Job.ExperienceLevel</p>
                                        </div>
                                    </div>
                                }
                                @if (Model.Job.StartDate.HasValue)
                                {
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="bi bi-calendar" style="color:#0C3779;"></i>
                                        </div>
                                        <div class="col-10">
                                            <span style="font-weight: 500;font-size: 20px;line-height: 80%;color: #101828;">Start Date</span>
                                            <p style="font-weight: 400;font-size: 16px;line-height: 24px;color: #101828;">@Model.Job.StartDate.Value.Date.ToString("dd/MM/yyyy")</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if (!string.IsNullOrWhiteSpace(Model.Job.StartDateText))
                                    {
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="bi bi-calendar" style="color:#0C3779;"></i>
                                            </div>
                                            <div class="col-10">
                                                <span style="font-weight: 500;font-size: 20px;line-height: 80%;color: #101828;">Start Date</span>
                                                <p style="font-weight: 400;font-size: 16px;line-height: 24px;color: #101828;">@Model.Job.StartDateText</p>
                                            </div>
                                        </div>
                                    }
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.Job.JobLocation) || !string.IsNullOrWhiteSpace(Model.Job.OfficeLocation))
                                {
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="bi bi-geo-alt" style="color:#0C3779;"></i>
                                        </div>
                                        <div class="col-10">
                                            <span style="font-weight: 500;font-size: 20px;line-height: 80%;color: #101828;">Location</span>
                                            <p style="font-weight: 400;font-size: 16px;line-height: 24px;color: #101828;">
                                                @if (!string.IsNullOrEmpty(Model.Job.OfficeLocation))
                                                {
                                                    @Model.Job.OfficeLocation
                                                }
                                                @if (!string.IsNullOrWhiteSpace(Model.Job.JobLocation) && !string.IsNullOrWhiteSpace(Model.Job.OfficeLocation))
                                                {
                                                    <span>, </span>
                                                }
                                                @Model.Job.JobLocation
                                            </p>
                                        </div>
                                    </div>
                                }
                                @if (Model.Job.SalaryMaximum.HasValue || Model.Job.SalaryMinimum.HasValue || (Model.Job.IsSalaryNegotiable.HasValue && Model.Job.IsSalaryNegotiable.Value == true))
                                {
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="bi bi-currency-pound" style="color:#0C3779;"></i>
                                        </div>
                                        <div class="col-10">
                                            <span style="font-weight: 500;font-size: 20px;line-height: 80%;color: #101828;">Salary</span>
                                            @if (Model.Job.SalaryMaximum.HasValue || Model.Job.SalaryMinimum.HasValue)
                                            {
                                                <p style="font-weight: 400;font-size: 16px;line-height: 24px;color: #101828;">
                                                    @Model.GetSalaryRange()
                                                </p>
                                            }
                                            @if (Model.Job.IsSalaryNegotiable.HasValue && Model.Job.IsSalaryNegotiable.Value == true)
                                            {
                                                <p style="font-weight: 400; font-size: 16px; line-height: 24px; color: #101828;">Negotiable</p>
                                            }
                                        </div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(Model.Job.LocalLanguage))
                                {
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="bi bi-translate" style="color:#0C3779;"></i>
                                        </div>
                                        <div class="col-10">
                                            <span style="font-weight: 500;font-size: 20px;line-height: 80%;color: #101828;">Local Language</span>
                                            <p style="font-weight: 400;font-size: 16px;line-height: 24px;color: #101828;">@Model.Job.LocalLanguage</p>
                                        </div>
                                    </div>
                                }
                                @if (Model.Job.IsNetZeroCompliant.HasValue)
                                {
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="bi bi-lightning-charge-fill" style="color:#3BA190;"></i>
                                        </div>
                                        <div class="col-10">
                                            <span style="font-weight: 500;font-size: 20px;line-height: 80%;color: #101828;">NetZero Compliant</span>
                                            <p style="font-weight: 400;font-size: 16px;line-height: 24px;color: #101828;">
                                                @if (Model.Job.IsNetZeroCompliant.Value)
                                                {
                                                    <span>Yes</span>
                                                }
                                                else
                                                {
                                                    <span>No</span>
                                                }
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
