@page
@model Collabed.JobPortal.Web.Pages.Job.Apply.ScreeningQuestionsModel
@section styles{
    <abp-style src="/apply-pages.css"></abp-style>
}

@{
    TempData[nameof(Model.CurrentStep)] = 3;
    var previousPage = TempData.Peek("BackToJobOfferParams")?.ToString();
    var buttonTitle = Model.CurrentStep >= Model.StepsRequired ? "Submit" : "Countinue";
}
<div class="row no-display-on-mobile">
    <div class="col-4"></div>
    <div class="col-4">
        <div style="text-align:left;">
            <p class="text-36" style="margin-top:4%">@TempData.Peek("Title")</p>
            <p>
                <span style="color: #101828; font-size: 16px; font-weight: 400; line-height: 24px;">
                    Posted by @TempData.Peek("OrganisationName")
                </span>
                <span style="color: #667085; font-weight: 400; font-size: 16px; line-height:24px;">
                    on @DateTime.Parse(TempData.Peek("PublishedDate")?.ToString()).ToString("dd/MM/yyyy")
                </span>
            </p>
            <p class="text-16-bold">
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("EmploymentType")?.ToString()))
                {
                    @TempData.Peek("EmploymentType")
                    @if (!string.IsNullOrWhiteSpace(TempData.Peek("ContractType")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("SalaryRange")?.ToString()) ||
                   !string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                    {
                        <i class="bi bi-dot" style="color:#2F70B6;"></i>
                    }
                }
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("ContractType")?.ToString()))
                {
                    @TempData.Peek("ContractType")
                    @if (!string.IsNullOrWhiteSpace(TempData.Peek("SalaryRange")?.ToString()) ||
                   !string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                    {
                        <i class="bi bi-dot" style="color:#2F70B6;"></i>
                    }
                }
                @if (!string.IsNullOrEmpty(TempData.Peek("SalaryRange").ToString()))
                {
                    @TempData.Peek("SalaryRange")
                    @if (!string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                    {
                        <i class="bi bi-dot" style="color:#2F70B6;"></i>
                    }
                }
                @if (!string.IsNullOrEmpty(TempData.Peek("OfficeLocation")?.ToString()))
                {
                    @TempData["OfficeLocation"]
                    @if (!string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                    {
                        <i class="bi bi-dot" style="color:#2F70B6;"></i>
                    }
                }
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                {
                    @TempData.Peek("JobLocation")
                }
            </p>
            <p><a href=@previousPage class="back-link"><i class="bi bi-arrow-left back-arrow"></i>Back to job description</a></p>
        </div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row display-on-mobile">
    <div style="text-align:left;">
        <p class="text-36" style="margin-top:4%">@TempData.Peek("Title")</p>
        <p>
            <span style="color: #101828; font-size: 16px; font-weight: 400; line-height: 24px;">
                Posted by @TempData.Peek("OrganisationName")
            </span>
            <span style="color: #667085; font-weight: 400; font-size: 16px; line-height:24px;">
                on @DateTime.Parse(TempData.Peek("PublishedDate")?.ToString()).ToString("dd/MM/yyyy")
            </span>
        </p>
        <p class="text-16-bold no-display-on-mobile">
            @if (!string.IsNullOrWhiteSpace(TempData.Peek("EmploymentType")?.ToString()))
            {
                @TempData.Peek("EmploymentType")
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("ContractType")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("SalaryRange")?.ToString()) ||
               !string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                {
                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                }
            }
            @if (!string.IsNullOrWhiteSpace(TempData.Peek("ContractType")?.ToString()))
            {
                @TempData.Peek("ContractType")
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("SalaryRange")?.ToString()) ||
               !string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                {
                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                }
            }
            @if (!string.IsNullOrEmpty(TempData.Peek("SalaryRange").ToString()))
            {
                @TempData.Peek("SalaryRange")
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                {
                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                }
            }
            @if (!string.IsNullOrEmpty(TempData.Peek("OfficeLocation")?.ToString()))
            {
                @TempData.Peek("OfficeLocation")
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                {
                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                }
            }
            @if (!string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
            {
                @TempData.Peek("JobLocation")
            }
        </p>
        <p><a href=@previousPage class="back-link"><i class="bi bi-arrow-left back-arrow"></i>Back to job description</a></p>
    </div>
</div>
<hr class="divider" />
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: @Model.ProgressBarValue%;background-color: #2F70B6;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    @if (Model.ProgressBarValue < 100)
    {
        <span class="progress-text" style="display: inline-block; margin-left: 10px;">@Model.ProgressBarValue%</span>
    }
</div>
<div style="max-width:400px;margin-inline:auto; text-align:left;">
    <p class="text-30">Screening Questions</p>
    <p class="text-16">The hiring company have a few quick questions to make sure you’re a good match.</p>
    <hr class="divider" />
    <form method="post">
        @if (Model.Question1 != null)
        {
            <p class="text-16" style="margin-bottom:8px">@($"1. {Model.Question1.Text}*")</p>
            <div class="form-check" style="text-align:left">
                <input class="form-check-input" type="radio" asp-for=Answer1 value="true">
                <label class="form-check-label" asp-for=Answer1>
                    Yes
                </label>
            </div>
            <div class="form-check" style="text-align:left; margin-bottom:8px">
                <input class="form-check-input" type="radio" asp-for=Answer1 value="false">
                <label class="form-check-label" asp-for=Answer1>
                    No
                </label>
            </div>
            <hr class="divider" />
        }
        @if (Model.Question2 != null)
        {
            <p class="text-16" style="margin-bottom:8px">@($"2. {Model.Question2.Text}*")</p>
            <div class="form-check" style="text-align:left">
                <input class="form-check-input" type="radio" asp-for="Answer2" value="true">
                <label class="form-check-label" asp-for="Answer2">
                    Yes
                </label>
            </div>
            <div class="form-check" style="text-align:left; margin-bottom:8px">
                <input class="form-check-input" type="radio" asp-for="Answer2" value="false">
                <label class="form-check-label" asp-for="Answer2">
                    No
                </label>
            </div>
            <hr class="divider" />
        }
        @if (Model.Question3 != null)
        {
            <p class="text-16" style="margin-bottom:8px">@($"3. {Model.Question3.Text}*")</p>
            <div class="form-check" style="text-align:left">
                <input class="form-check-input" type="radio" asp-for="Answer3" value="true">
                <label class="form-check-label" asp-for="Answer3">
                    Yes
                </label>
            </div>
            <div class="form-check" style="text-align:left; margin-bottom:8px">
                <input class="form-check-input" type="radio" asp-for="Answer3" value="false">
                <label class="form-check-label" asp-for="Answer3">
                    No
                </label>
            </div>
            <hr class="divider" style="margin-bottom:15px" />
        }
        <div style="display: block; text-align: center">
            <button class="btn btn-outline-secondary" style="margin-right: 10px;" type="button" onclick="window.history.go(-1); return false;">Back</button>
            <button class="btn btn-primary submit-btn" type="submit">Continue</button>
        </div>
    </form>
</div>

