@page
@model Collabed.JobPortal.Web.Pages.Job.Apply.SuccessModel
@section styles{
    <abp-style src="/apply-pages.css"></abp-style>
}
@{
    var previousPage = TempData.Peek("BackToJobOfferParams")?.ToString();
}
<div class="row no-display-on-mobile">
    <div class="col-4"></div>
    <div class="col-4">
        <div style="text-align:left;">
            <p class="text-36" style="margin-top:4%">@TempData.Peek("Title")</p>
            <p>
                <span style="color: #101828; font-size: 16px; font-weight: 400; line-height: 24px;">
                    Posted by @TempData.Peek("OrganisationName")
                </span>
                <span style="color: #667085; font-weight: 400; font-size: 16px; line-height:24px;">
                    on @DateTime.Parse(TempData.Peek("PublishedDate")?.ToString()).ToString("dd/MM/yyyy")
                </span>
            </p>
            <p class="text-16-bold">
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("EmploymentType")?.ToString()))
                {
                    @TempData.Peek("EmploymentType")
                    @if (!string.IsNullOrWhiteSpace(TempData.Peek("ContractType")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("SalaryRange")?.ToString()) ||
                   !string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                    {
                        <i class="bi bi-dot" style="color:#2F70B6;"></i>
                    }
                }
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("ContractType")?.ToString()))
                {
                    @TempData.Peek("ContractType")
                    @if (!string.IsNullOrWhiteSpace(TempData.Peek("SalaryRange")?.ToString()) ||
                   !string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                    {
                        <i class="bi bi-dot" style="color:#2F70B6;"></i>
                    }
                }
                @if (!string.IsNullOrEmpty(TempData.Peek("SalaryRange").ToString()))
                {
                    @TempData.Peek("SalaryRange")
                    @if (!string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                    {
                        <i class="bi bi-dot" style="color:#2F70B6;"></i>
                    }
                }
                @if (!string.IsNullOrEmpty(TempData.Peek("OfficeLocation")?.ToString()))
                {
                    @TempData["OfficeLocation"]
                    @if (!string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                    {
                        <i class="bi bi-dot" style="color:#2F70B6;"></i>
                    }
                }
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                {
                    @TempData.Peek("JobLocation")
                }
            </p>
            <p><a href=@previousPage class="back-link"><i class="bi bi-arrow-left back-arrow"></i>Back to job description</a></p>
        </div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row display-on-mobile">
    <div style="text-align:left;">
        <p class="text-36" style="margin-top:4%; margin-bottom: 0;">@TempData.Peek("Title")</p>
        <p>
            <span style="color: #101828; font-size: 16px; font-weight: 400; line-height: 24px;">
                Posted by @TempData.Peek("OrganisationName")
            </span>
            <span style="color: #667085; font-weight: 400; font-size: 16px; line-height:24px;">
                on @DateTime.Parse(TempData.Peek("PublishedDate")?.ToString()).ToString("dd/MM/yyyy")
            </span>
        </p>
        <p class="text-16-bold no-display-on-mobile">
            @if (!string.IsNullOrWhiteSpace(TempData.Peek("EmploymentType")?.ToString()))
            {
                @TempData.Peek("EmploymentType")
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("ContractType")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("SalaryRange")?.ToString()) ||
               !string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                {
                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                }
            }
            @if (!string.IsNullOrWhiteSpace(TempData.Peek("ContractType")?.ToString()))
            {
                @TempData.Peek("ContractType")
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("SalaryRange")?.ToString()) ||
               !string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                {
                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                }
            }
            @if (!string.IsNullOrEmpty(TempData.Peek("SalaryRange").ToString()))
            {
                @TempData.Peek("SalaryRange")
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("OfficeLocation")?.ToString()) || !string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                {
                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                }
            }
            @if (!string.IsNullOrEmpty(TempData.Peek("OfficeLocation")?.ToString()))
            {
                @TempData.Peek("OfficeLocation")
                @if (!string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
                {
                    <i class="bi bi-dot" style="color:#2F70B6;"></i>
                }
            }
            @if (!string.IsNullOrWhiteSpace(TempData.Peek("JobLocation")?.ToString()))
            {
                @TempData.Peek("JobLocation")
            }
        </p>
        <p><a href=@previousPage class="back-link"><i class="bi bi-arrow-left back-arrow"></i>Back to job description</a></p>
    </div>
</div>
<hr class="divider" />
<div class="row"> 
    <div class="col-4"></div>
    <div class="col-4">
            <div style="text-align:center;">
                <i class="bi bi-check2-circle" style="font-size:30px; color:#039855"></i>
            </div>
            <p class="text-30" style="text-align: center">Application Submitted</p>
            <hr class="divider" />
            <p class="hint-16" style="text-align: center">Thank you for your application.<br />Keep an eye on your account for updates.</p>
            <div style="display: flex; justify-content: center;">
                
            <a class="btn btn-primary submit-btn" style="margin-top: 15px;" href="../../jobdashboard" type="submit">View more Jobs</a>
            </div>
    </div>
    <div class="col-4"></div>
</div>